/* Inter — self-hosted (from @fontsource/inter, SIL Open Font License).
   Replaces the Google Fonts CDN link so pages render without a third-party
   round trip and work fully offline. */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./inter-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./inter-latin-500-normal.woff2') format('woff2');
}
